/*STYLES GENERAUX*/
*, :before, :after {
    box-sizing: border-box;
}

body {
    background: #eee; 
}

p {
    font: normal normal 0.84em/200% 'Lato', sans-serif;
    padding: 5px 0;
}

.container {
    max-width: 1000px;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
}

/*SIDEBAR*/

.column {
    width: 250px;
    background-color: #00BCD4;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: flex-start;
    padding: 10px 0;
}
.column div {
    padding: 20px 30px;
}

div.column-head {
    width:100%;
    display:flex;
    padding:20px 30px;
    align-content:center;
    align-items:center;
    justify-content:center;
}


.show-on-mobile {
    display:none;
}

.column a {
    font: normal normal 600 1.1em/100% 'Lato', sans-serif;
    text-decoration: none;
    color: #0a527b;
    transition: 0.25s ease-in-out;
}

.column h2 {
    width: 100%;
    background-color: #B2EBF2;
    font: normal normal 600 1.1em/130% 'Lato', sans-serif;
    color: #0a527b;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    padding: 10px 0px;
}

.column-head h1 {
    font: normal normal 500 24px/130% 'Montserrat', sans-serif;
    text-transform: uppercase;
    position: relative;
    letter-spacing: -2px;
    color:white;
}

.column-head h2 {
    position: relative;
    margin: 0;
    font: normal normal 500 16px/150% 'Lato', sans-serif;
    background: none;
    color:black;
    text-align:left;
}

.column-head h2:after {
    content: "";
    width: 100px;
    height: 0px;
    border-bottom: 2px solid #fff;
    position: absolute;
    bottom: -0px;
    left: 0px;
}

.photo {
    width: 80%;
    height: auto;
    border-radius: 50%;
    border: 5px solid rgba(0,0,0,0.10);
    margin: 0px 0px 10px 0px;
    display: block;
}

.column nav li {
    margin: 10px 0;
}

.column nav {
    margin-bottom: 20px;
}

.column nav a {
    text-transform: uppercase;
    font: normal normal 600 1.1em/100% 'Montserrat', sans-serif;
    color: white;
}

.contact a:hover {
    filter: brightness(1.2);
}

.navaside {
    display: block;
    text-align: center;
}

.column p {
    width: 100%;
}



.column p span {
    font: normal normal 600 1.0em/100% 'Montserrat', sans-serif;
}

.contact-icons .fab {
    font-size: 20px;
    margin: 0 10px 0 0;
}

.loisirs {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 5px 10px;
}

.loisirs .fas {
    font-size: 30px;
    width: 50px;
    line-height: 40px;
    padding: 5px;
    border-radius: 50%;
    background-color: rgba(0,0,0,0.1);
    text-align: center;
    color: rgba(0,0,0,0.75);
}

/*PARTIE DROITE*/

.main {
    padding: 40px;
    background-color: #fff;
    width: calc(100% - 250px);
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.header .photo-mobile {
    width: 100px; 
    height: 100px;
    display: none;
    border: 5px solid #ddd;
    border-radius: 50%;
}

.main h1 {
    font: normal normal 500 50px/130% 'Montserrat', sans-serif;
    text-transform: uppercase;
    position: relative;
    letter-spacing: -2px;
}

.main h1 span {
    color:#00BCD4;
}

.main h2 {
    position: relative;
    margin: 0 0 20px 0;
    font: normal normal 500 20px/150% 'Lato', sans-serif;
}

.main h2:after {
    content: "";
    width: 100px;
    height: 0px;
    border-bottom: 2px solid #00BCD4;
    position: absolute;
    bottom: -0px;
    left: 0px;
}

.navmain {
    display: none;
    margin: 0 0 20px 0;
    text-align: center;
}

.navmain a {
    color: #00BCD4;
    font: normal normal 600 1.4em/150% 'Montserrat', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.25s ease-in-out;
    margin: 0 10px;
}

.navmain a:hover {
    filter: saturate(1.5);
}

.main h3 {
    font: normal normal 400 24px/130% 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: -1px;
    border-bottom: 1px solid #00BCD4;
    padding: 10px 0;
    margin-bottom: 10px;
}

.main h3 i.fas {
    color: #00BCD4;
    padding: 0px 5px;
}

.item {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    padding: 20px;
}

.periode {
    width: 30%;
    font: normal normal 700 14px/130% 'Lato', sans-serif;
    position: relative;
}

.periode .fas {
    position: absolute;
    left: -20px;
    top: 1px;
    font-size: 12px;
    line-height: 18px;
    color: #00BCD4;
}

.info {
    width: 70%;
}

.info h4, .reco h4 {
    font: normal normal 700 1.1em/130% 'Montserrat', sans-serif;
    text-transform: uppercase;
    margin-bottom: 0px;
}

.info h5, .reco h5 {
    font: normal normal 600 1.0em/130% 'Montserrat', sans-serif;
    margin: 0.4em 0;
    color: #00BCD4;
}

.info p, .reco p {
    font: normal normal 500 0.84em/160% 'Lato', sans-serif;
    margin: 0.4em 0;
}

.reco {
    width: 50%;
}

/*MEDIA QUERIES*/

@media screen and (max-width:768px){
    .container{
        flex-flow: column wrap;
    }

    /*GENERAUX*/

    p {
        font: normal normal 500 14px/100% 'Montserrat', sans-serif;
        padding: 5px;
    }

    /*ASIDE EN FOOTER*/

    .column {
        width: 100%;
        padding: 10px 0;
    }
    div.column-head {
        justify-content:space-between;
    }
    div.show-on-mobile {
        display:inline-block;
        padding:10px;
    }
    .navaside {
        display: none;
    }

    .column h2 {  
        font: normal normal 600 18px/100% 'Montserrat', sans-serif;
    }

    .contact {
        display: flex;
        flex-flow: row wrap;
        word-break: break-all;
    }

    .contact p {
        width: 50%;
    }

    .photo {
        width: 100px; 
    height: 100px;
    border-radius: 50%;
    }

    /*MAIN*/

    .main {
        width: 100%;
        padding: 20px;
    }

    .hide-on-mobile {
        display: none;
    }

    .navmain {
        display: block;
    }

    .periode {
        width: 100%;
    }

    .periode {
        font: normal normal 700 16px/100% 'Lato', sans-serif;  
    }

    .periode .fas {
        left: -20px;
        top: 0px;
        font-size: 10px;
    }

    .info {
        width: 100%;
    }

    .info p{
        padding: 5px 0;
    }
    
    /*.header .photo-mobile {
        display: block;
    }*/

    .item {
        padding: 30px;
    }

    .reco {
        width: 100%;
    }

    /*TITLES*/

    .main h1 {
        font-size: 1.8em;
    }

    .main h2 {
        font: normal normal 500 1.6em/150% 'Lato', sans-serif;
    }

    .main h3 {
        font: normal normal 600 1.6em/130% 'Montserrat', sans-serif;
    }
    
    .info p{
        font: normal normal 500 16px/140% 'Lato', sans-serif;
    }

}
